In [12]:
import pandas as pd
from pdcheckers import PdChecker

In [13]:
df = pd.read_csv('data/mock_data_dirty.csv',error_bad_lines=False)
df.head()

/tmp/ipykernel_481371/3157897809.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv('data/mock_data_dirty.csv',error_bad_lines=False)
Skipping line 255: expected 9 fields, saw 10
Skipping line 256: expected 9 fields, saw 10
Skipping line 257: expected 9 fields, saw 10
Skipping line 258: expected 9 fields, saw 10

,id,first_name,last_name,email,gender,ip_address,time,date,department
0,1,Jammal,McGreay,jmcgreay0@storify.com,Male,144.223.206.207,1:57 AM,8/28/2022,Legal
1,2,Petrina,Merriday,pmerriday1@is.gd,Female,71.167.3.87,6:44 PM,6/17/2022,Human Resources
2,3,Foskew,gfoskew2@aboutads.info,Female,21.28.163.117,10:14 PM,2/12/2022,Human Resources,NaN
3,4,Rhule,jrhule3@forbes.com,Female,71.181.100.21,4:59 PM,11/23/2022,Engineering,NaN
4,5,Colbron,mcolbron4@vistaprint.com,Genderfluid,144.112.88.50,4:14 PM,1/31/2022,Support,NaN

In [14]:
df.dtypes

id             int64
first_name    object
last_name     object
email         object
gender        object
ip_address    object
time          object
date          object
department    object
dtype: object

In [15]:
columns = list(df.select_dtypes(include=['object']))
columns

['first_name',
 'last_name',
 'email',
 'gender',
 'ip_address',
 'time',
 'date',
 'department']

In [16]:
DfPiece = PdChecker(df)

In [17]:
DfPiece.pd_sniffer("email")

      column      perc
0      email  0.908635
1  last_name  0.085341

In [18]:
DfPiece.get_suspect_values("email", "email")

,id,first_name,last_name,email,gender,ip_address,time,date,department
2,3,Foskew,gfoskew2@aboutads.info,Female,21.28.163.117,10:14 PM,2/12/2022,Human Resources,NaN
3,4,Rhule,jrhule3@forbes.com,Female,71.181.100.21,4:59 PM,11/23/2022,Engineering,NaN
4,5,Colbron,mcolbron4@vistaprint.com,Genderfluid,144.112.88.50,4:14 PM,1/31/2022,Support,NaN
5,6,Surgeon,nsurgeon5@webs.com,Female,80.204.138.237,6:48 PM,3/23/2022,Training,NaN
6,7,Grosvenor,bgrosvenor6@woothemes.com,Male,225.37.89.102,5:23 AM,6/3/2022,Services,NaN
...,...,...,...,...,...,...,...,...,...
273,278,Alysia,Abramzon,aabramzon7pmozilla.com,Genderfluid,172.132.26.248,1:31 AM,8/3/2022,Support
276,281,Paola,Kaminski,pkaminski7sdion.ne.jp,Female,192.123.218.111,3:56 PM,6/17/2022,Human Resources
710,715,Bonnibelle,Arminger,31,Female,228.137.103.85,10:03 AM,7/6/2022,Accounting
711,716,Corbett,Iley,33,Male,98.217.125.29,12:42 AM,9/27/2022,Services
712,717,Neda,Dollard,35,Female,96.191.49.198,10:54 PM,8/9/2022,Research and Development

In [19]:
DfPiece.pd_sniffer("number")

       column      perc
0  ip_address  0.214859
1  department  0.085341
2      gender  0.023092
3   last_name  0.006024
4       email  0.003012

In [20]:
DfPiece.get_suspect_values("ip_address", "number", inverse=True)

,id,first_name,last_name,email,gender,ip_address,time,date,department
0,1,Jammal,McGreay,jmcgreay0@storify.com,Male,144.223.206.207,1:57 AM,8/28/2022,Legal
92,93,Agosto,Pillifant,apillifant2k@squidoo.com,Genderfluid,126.240.167.238,11:09 AM,8/16/2022,Engineering
93,94,Pincus,Alvar,palvar2l@tiny.cc,Male,211.130.176.201,12:36 AM,9/17/2022,Legal
96,97,Ursala,Westmoreland,uwestmoreland2o@bbc.co.uk,Female,152.249.250.160,8:31 PM,4/15/2022,Training
101,102,Symon,Doonican,sdoonican2t@tuttocitta.it,Male,101.194.125.123,3:26 AM,7/30/2022,Accounting
...,...,...,...,...,...,...,...,...,...
975,980,Pembroke,Delamar,pdelamarr7@columbia.edu,Bigender,255.173.154.145,10:02 AM,6/30/2022,Product Management
977,982,Willis,Thorsen,wthorsenr9@biglobe.ne.jp,Male,64.126.236.102,10:28 AM,9/5/2022,Business Development
985,990,Prescott,Thackston,pthackstonrh@google.ru,Male,19.248.180.153,8:59 AM,12/12/2022,Services
989,994,Humfrey,Claughton,hclaughtonrl@hud.gov,Male,27.111.167.201,5:19 PM,10/28/2022,Legal
993,998,Barth,Touson,btousonrp@state.tx.us,Male,32.103.152.230,9:35 PM,1/12/2023,Services